@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

$font-logo: "Monoton", cursive;
$font-content: "Lato", sans-serif;

$orange: #ff680d;
$gray-light: #ebebeb;
$gray: #ccc;
$dark-gris: #4a4a4a;
